<!-- <p-table [value]="cars">
  <ng-template pTemplate="header">
    <tr>
      <th>Vin</th>
      <th>Year</th>
      <th>Brand</th>
      <th>Color</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td>{{car.vin}}</td>
      <td>{{car.year}}</td>
      <td>{{car.brand}}</td>
      <td>{{car.color}}</td>
    </tr>
  </ng-template>
</p-table> -->
<app-menu></app-menu>
<h1>Hola mundo</h1>
<h1>Bienvenido al Estacionamiento 🚗🚘🚖</h1>
<img src={{img}} alt="iamgen" width="400" height="350">

<h2> {{ 'Nombre con Repeat \n'.repeat(10) }} </h2>
<p> 3 + 3 = {{ 3 + 3 }}</p>